*{
	box-sizing: border-box;
}
.tb{
	width: 18%;
	height: 60vh;
	border-radius: 10px;
	box-shadow: 3px 5px 20px black;
	background-color: #3232dec9;
}
.t1{
	width: 100%;
	height: 14vh;
	box-shadow: 2px 3px 5px black ;
	border-radius: 10px;
	border-color: black ;
	background-color: #c2e2ef;
}
.bt1{
	width: 100%;
	height: 5vh;
	border-radius: 10px;
	box-shadow: 4px 3px 20px lightcyan;
	color: white;
	background-color: black;
	border-color: white;
}
.bt2{
	width: 100%;
	height: 5vh;
	border-radius: 10px;
	box-shadow: 4px 3px 20px lightcyan;
	color: white;
	background-color: black;
	border-color: white;
}
.bt3{
	width: 100%;
	height: 5vh;
	border-radius: 10px;
	box-shadow: 4px 3px 20px lightcyan;
	color: white;
	background-color: black;
	border-color: white;
}
.bt4{
	width: 100%;
	height: 5vh;
	border-radius: 10px;
	box-shadow: 4px 3px 20px lightcyan;
	color: white;
	background-color: black;
	border-color: white;
}
.bt5{
	width: 100%;
	height: 5vh;
	border-radius: 10px;
	box-shadow: 4px 3px 20px lightcyan;
	color: white;
	background-color: black;
	border-color: white;
}
.bt6{
	width: 100%;
	height: 5vh;
	border-radius: 10px;
	box-shadow: 4px 3px 20px lightcyan;
	color: white;
	background-color: black;
	border-color: white;
}
.bt7{
	width: 100%;
	height: 5vh;
	border-radius: 10px;
	box-shadow: 4px 3px 20px lightcyan;
	color: white;
	background-color: black;
	border-color: white;
}
.bt8{
	width: 100%;
	height: 5vh;
	border-radius: 10px;
	box-shadow: 4px 3px 20px lightcyan;
	color: white;
	background-color: black;
	border-color: white;
}
.bt9{
	width: 100%;
	height: 5vh;
	border-radius: 10px;
	box-shadow: 4px 3px 20px lightcyan;
	color: white;
	background-color: black;
	border-color: white;
}
.bt10{
	width: 100%;
	height: 5vh;
	border-radius: 10px;
	box-shadow: 4px 3px 20px lightcyan;
	color: white;
	background-color: black;
	border-color: white;
}
.bt11{
	width: 100%;
	height: 5vh;
	border-radius: 10px;
	box-shadow: 4px 3px 20px lightcyan;
	color: white;
	background-color: black;
	border-color: white;
}
.bt12{
	width: 100%;
	height: 5vh;
	border-radius: 10px;
	box-shadow: 4px 3px 20px lightcyan;
	color: white;
	background-color: black;
	border-color: white;
}
.bt13{
	width: 100%;
	height: 5vh;
	border-radius: 10px;
	box-shadow: 4px 3px 20px lightcyan;
	color: white;
	background-color: black;
	border-color: white;
}
.bt14{
	width: 100%;
	height: 5vh;
	border-radius: 10px;
	box-shadow: 4px 3px 20px lightcyan;
	color: white;
	background-color: black;
	border-color: white;
}
.bt15{
	width: 100%;
	height: 5vh;
	border-radius: 10px;
	box-shadow: 4px 3px 20px lightcyan;
	color: white;
	background-color: black;
	border-color: white;
}
.bt16{
	width: 100%;
	height: 5vh;
	border-radius: 10px;
	box-shadow: 4px 3px 20px lightcyan;
	color: white;
	background-color: black;
	border-color: white;
}
.bt17{
	width: 100%;
	height: 5vh;
	border-radius: 10px;
	box-shadow: 4px 3px 20px lightcyan;
	color: white;
	background-color: black;
	border-color: white;
}
.bt18{
	width: 100%;
	height: 5vh;
	border-radius: 10px;
	box-shadow: 4px 3px 20px lightcyan;
	color: white;
	background-color: black;
	border-color: white;
}
.bt19{
	width: 100%;
	height: 5vh;
	border-radius: 10px;
	box-shadow: 4px 3px 20px lightcyan;
	color: white;
	background-color: black;
	border-color: white;
}
